body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.searchBtnBg{
  width: 45px;
  height: 45px;
  background-color: #593cfb;
  border-radius: 50%;
}
.search-option{
  background-color: #fff;
  border-radius: 26px;
  padding: 5px 2px;
  width: 95%;
}
.slick-slide img {
  display: block;
  height: 134px;
  width: 168px;
  object-fit: cover;
}